/* Large Mobile Devices + Tablets */
@media only screen and (min-width: 481px) {
  #thirdEffect {
    width: 30%;
  }

  .img-heading {
    width: 100%;
    height: 50%;
  }

  #divContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
    background-color: black;
  }

  #weedLeaf {
    width: 95%;
  }
  .containerCell {
    width: 33%;
    float: left;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid green;
    background: rgba(235, 255, 235, 0.7);
    color: black;
  }

  #effectContainer {
    border: 3px solid #003500;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: #272727;
  }

  #effectInfo {
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
  }

  #effectSearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
    border-radius: 5px;
    background-color: white;
  }

  .effectContainerCell {
    width: 33%;
    float: left;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid green;
    background: rgba(235, 255, 235, 0.7);
    color: black;
  }

  #strainInfo {
    border: 3px solid #003500;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: #272727;
    text-align: center;
  }

  body {
    background-color: black;
    color: black;
    text-align: center;
  }

  #navBar {
    background: forestgreen;
  }

  .carousel-inner {
    height: auto;
    width: auto;
  }

  .d-block {
    height: 400px;
    max-width: 100%;
    object-fit: cover;
  }

  .cardTest {
    background: rgba(235, 255, 235, 0.7);
    margin: 10px;
    border-radius: 5px;
  }

  .cardBody {
    margin: 10px;
    color: black;
    text-align: center;
    overflow-wrap: break-word;
  }

  #displayDivEffect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #loadingEffectGif {
    height: 100px;
    width: 100px;
  }
}
/* Mobile Devices */
@media only screen and (min-width: 57px) and (max-width: 480px) {
  .img-heading {
    width: 100%;
    height: 50%;
  }

  #divContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
    background-color: black;
  }

  #weedLeaf {
    width: 95%;
  }

  .containerCell {
    width: 33%;
    float: left;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid green;
    background: rgba(235, 255, 235, 0.7);
    color: black;
  }

  #effectContainer {
    border: 3px solid #003500;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: #272727;
  }

  #effectInfo {
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
  }

  #effectSearchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
    border-radius: 5px;
    background-color: white;
  }

  .effectContainerCell {
    width: 33%;
    float: left;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid green;
    background: rgba(235, 255, 235, 0.7);
    color: black;
  }

  #strainInfo {
    border: 3px solid #003500;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: #272727;
    text-align: center;
  }

  body {
    background-color: black;
    color: black;
    text-align: center;
  }

  #navBar {
    background: forestgreen;
  }

  .carousel-inner {
    height: auto;
    width: auto;
  }

  .d-block {
    height: 400px;
    max-width: 100%;
    object-fit: cover;
  }

  .cardTest {
    background: rgba(235, 255, 235, 0.7);
    margin: 10px;
    border-radius: 5px;
  }

  .cardBody {
    margin: 10px;
    color: black;
    text-align: center;
    overflow-wrap: break-word;
  }

  #displayDivEffect {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #loadingEffectGif {
    height: 100px;
    width: 100px;
  }
}
